<h1>New Recipe</h1>
<form method="post" action='/recipes/new'>
<label for="name"> Name </label><br>
<input type="string" id="name" name="name"><br>
<label for="ingredients"> Ingredients </label><br>
<input type="string" id="ingredients" name="ingredients"><br>
<label for="cook_time"> Cook Time </label><br>
<input type="string" id="cook_time" name="cook_time"><br>
<input type="submit" value="Submit">
</form>
